In [1]:
import pandas as pd
import numpy as num
import matplotlib as ma
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
data=pd.read_csv('iris.csv')

In [3]:


data.rename(columns={'5.1':'sepalLength','3.5':'sepalWidth','1.4':'petalLength','0.2':'petalWidth'})

     sepallength  sepalwidth  petallength  petalwidth           class
0            5.1         3.5          1.4         0.2     Iris-setosa
1            4.9         3.0          1.4         0.2     Iris-setosa
2            4.7         3.2          1.3         0.2     Iris-setosa
3            4.6         3.1          1.5         0.2     Iris-setosa
4            5.0         3.6          1.4         0.2     Iris-setosa
..           ...         ...          ...         ...             ...
145          6.7         3.0          5.2         2.3  Iris-virginica
146          6.3         2.5          5.0         1.9  Iris-virginica
147          6.5         3.0          5.2         2.0  Iris-virginica
148          6.2         3.4          5.4         2.3  Iris-virginica
149          5.9         3.0          5.1         1.8  Iris-virginica

[150 rows x 5 columns]

In [4]:
data.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

In [5]:
x=data.iloc[:,:4]

In [6]:
x.head()

   sepallength  sepalwidth  petallength  petalwidth
0          5.1         3.5          1.4         0.2
1          4.9         3.0          1.4         0.2
2          4.7         3.2          1.3         0.2
3          4.6         3.1          1.5         0.2
4          5.0         3.6          1.4         0.2

In [8]:
y=data.iloc[:,-1 ]

In [9]:
y.head()

0    Iris-setosa
1    Iris-setosa
2    Iris-setosa
3    Iris-setosa
4    Iris-setosa
Name: class, dtype: object

In [10]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.3)

In [11]:
x_train.head()

     sepallength  sepalwidth  petallength  petalwidth
146          6.3         2.5          5.0         1.9
38           4.4         3.0          1.3         0.2
82           5.8         2.7          3.9         1.2
9            4.9         3.1          1.5         0.1
34           4.9         3.1          1.5         0.1

In [12]:
x_test.head()

     sepallength  sepalwidth  petallength  petalwidth
92           5.8         2.6          4.0         1.2
18           5.7         3.8          1.7         0.3
130          7.4         2.8          6.1         1.9
126          6.2         2.8          4.8         1.8
11           4.8         3.4          1.6         0.2

In [13]:
sc=StandardScaler()

In [14]:
sc.fit(x_train)

StandardScaler()

In [15]:
x_train=sc.transform(x_train)

In [16]:
x_test=sc.transform(x_test)

In [17]:
classifier = KNeighborsClassifier(n_neighbors = 5)

In [18]:
classifier.fit(x_train, y_train)

KNeighborsClassifier()

In [19]:
y_pred = classifier.predict(x_test)

In [20]:
y_test

92     Iris-versicolor
18         Iris-setosa
130     Iris-virginica
126     Iris-virginica
11         Iris-setosa
71     Iris-versicolor
42         Iris-setosa
21         Iris-setosa
75     Iris-versicolor
61     Iris-versicolor
32         Iris-setosa
147     Iris-virginica
17         Iris-setosa
94     Iris-versicolor
41         Iris-setosa
103     Iris-virginica
143     Iris-virginica
102     Iris-virginica
115     Iris-virginica
52     Iris-versicolor
57     Iris-versicolor
22         Iris-setosa
76     Iris-versicolor
3          Iris-setosa
132     Iris-virginica
16         Iris-setosa
89     Iris-versicolor
148     Iris-virginica
98     Iris-versicolor
35         Iris-setosa
50     Iris-versicolor
86     Iris-versicolor
46         Iris-setosa
51     Iris-versicolor
87     Iris-versicolor
144     Iris-virginica
123     Iris-virginica
15         Iris-setosa
131     Iris-virginica
135     Iris-virginica
0          Iris-setosa
142     Iris-virginica
48         Iris-setosa
28         Iris-setosa
88     Iris-versicolor
Name: class, dtype: object

In [21]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [22]:
cm = confusion_matrix(y_test, y_pred)

In [23]:
ac = accuracy_score(y_test,y_pred)

In [24]:
cm

array([[16,  0,  0],
       [ 0, 15,  0],
       [ 0,  0, 14]], dtype=int64)

In [25]:
ac

1.0